<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini amazon</title>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/application.js') }}" ></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/application.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <h1>{{ user.name }}'s shopping cart</h1>
    <input type="text" name="" value=" {{  user._id }} " hidden>
<h3>You have {{ products|length }} products in your cart</h3>
<hr>
    {% for product in products %}
    <div class="products_css">
        <form method="post">
            <h3>{{ product.name }}</h3>
            Price : <i>{{ product.price }}</i><br>
            <input type="text" name="product_name" value="{{ product.name }}" hidden/>
            <input type="number" name="product_price" value="{{ product.price }}" hidden/>
            <input type="text" name="product_id" value="{{ product._id }}" hidden/>
            <input type="text" name="user_id" value="{{ user._id }}" hidden>
            <button type="submit" formaction="/miniamazon/delete-from-cart" onclick="deleteFromCart()" class="btn_remove_cart">&#10006;</button>
        </form>
        <hr>
    </div>
    {% endfor %}

    <h3>Total : {{total }}</h3>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="upload" value="1">
        <input type="hidden" name="business" value="logontovinay94@gmail.com">
        <input type="hidden" name="currency_code" value="INR">

        {% for product in products %}
            <input type="hidden" name='{{ "item_name_"~loop.index }}' value="{{ product.name }}">
            <input type="hidden" name='{{ "amount_"~loop.index }}' value="{{ product.price }}">
        {% endfor %}
        <button class="btn_common btn_login" type="submit">Check out with PayPal</button>
    </form>

</body>
</html>