<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini amazon</title>
</head>
<body>
    <div float = 'center' style="height:200px; width: 25%; background-color:powderblue;">
        <form action="authenticate-login" method="post">
            UserName:<input type="text" name="uname"/> <br>
            Password:<input type="text" name="password"/> <br>
            <input type="submit" value="Login">
            <div style="color:red; fon ">{{ login_msg }}</div>
        </form>
    </div>
</body>
</html>